body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-image: url('https://images.unsplash.com/photo-1541119638723-c51cbe2262aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: flex;
  align-items: space-between;
}
input {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}
button {
  margin-top: 20px;
  font-size: 25px;
  border-radius: 3px;
}
li {
  display: block;
  font-size: 2em;
}
.nav {
  font-family: 'Khand', sans-serif;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: white;
  text-align: center;
  opacity: .8;
  height: 80px;
  border-radius: 3px
}
.main {
  font-family: 'Khand', sans-serif;
  border-radius: 3px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.content {
  border: .5px solid white;
  box-shadow: 10px 10px 5px rgba(155, 155, 155, .3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  min-height: 30vh;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
}
.img_container {
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}
.img_container__icon {
  display: block;
  min-height: 80px;
}
.FiveDayWeather {
  display: flex;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.DailyWeather {
  border: .5px solid white;
  border: 2px solid black;
  box-shadow: 10px 10px 5px rgba(155, 155, 155, .3);
  margin: 0 1.5vw;
  padding: 1vw ;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 28%;
  min-height: 50vh;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
}








@media screen and (max-width: 500px) {
  .content {
    width: 90vw;
  }
  input {
    margin-top: 20px;
    font-size: 25px;
    width: 40vw;
    text-align: center;
  }
  button {
    margin-top: 20px;
    font-size: 25px;
    border-radius: 3px;
  }
  .DailyWeather {
    min-width: 96vw;
  }
}
.button {
  height: 100px;
  border: none;
  font-size: 65px;
  font-weight: 800;
  position: absolute;
  font-family: 'Nanum Myeongjo', serif;
}
.button:hover {
  background: rgba( 0, 0, 0, .05);
}
.button-left {
  bottom: 200px;
  left:50px;
}
.button-right {
  bottom: 200px;
  right: 50px;
}
.hidden {
  display: none;
}
.muted {
  color: rgba(0, 0, 0, 0.1);
  blur: 0.4;
}
